html,body{
    padding:0px;
    margin:0px;

    height:100%;
}
.main-box{
    width:100%;
    height:100%;

    display: grid;

    justify-content: center;
    align-content: center;
    position: absolute;
    z-index:2;
}
.pink-button{
    border-radius:190px;
    color:white;
    display: initial;
    padding: 20px 40px 20px 40px;
    background-image: linear-gradient(45deg, #a18cd1 0%, #fbc2eb 100%);
    cursor: pointer;
    opacity:1;
    transition: opacity 0.3s;
}
.pink-button:hover{
    opacity: 0.8;
}

.main-shadow{
    position: absolute;
    z-index:8;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.5);
    visibility: hidden;

    display: grid;
    justify-content: center;
    align-content: center;
}
.main-shadow-image{
    display: block;
    border-radius: 10px;
    width: 40vw;
    height: auto;
    position: relative;
    z-index: 14;
    filter: brightness(93%);
}
/*.main-shadow-scatter{*/
/*        border-radius: 10px;*/
/*        position: absolute;*/
/*        z-index: 999;*/
/*        top:0px;*/
/*        height: 0px;*/
/*        width: 40vw;*/
/*        height: auto;*/
/*    mix-blend-mode:screen;*/

/*}*/
/*.main-shadow-color{*/
/*    border-radius: 10px;*/
/*    position: absolute;*/
/*    z-index: 999;*/
/*    top:0px;*/
/*    height: 0px;*/
/*    width: 40vw;*/
/*    height: auto;*/

/*}*/
/*.main-shadow-mask{*/
/*    border-radius: 10px;*/
/*    position: absolute;*/
/*    z-index: 999;*/
/*    top:0px;*/
/*    height: 700px !important;*/
/*    width: 40vw;*/
/*    height: auto;*/
/*    mix-blend-mode:screen;*/
/*    background-attachment: fixed;*/
/*    background-repeat: no-repeat;*/
/*    background-size: 100% auto;*/
/*    background-image: url("../images/color-y.png");*/
/*    -webkit-mask: url("../images/mosaic-1.png");*/
/*}*/
#mainShadowBackground{
    border-radius: 10px;
    position: absolute;
    z-index: 999;
    top:0px;
    height: 0px;
    width: 40vw;
    height: auto;
    mix-blend-mode:screen;
}
#mainShadowBackground-1{
    border-radius: 10px;
    position: absolute;
    z-index: 999;
    top:0px;
    height: 0px;
    width: 40vw;
    height: auto;
    mix-blend-mode:screen;
}
